@import "variables.scss";
@import "notifications.scss";


.container1{
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    background-color: #131921;
    .flag{
        width: 20px;
        height: 20px;
        align-self: flex-end;
        margin-bottom: 6px;
        margin-right: 5px;
    }
    .navLeft{
        display: flex;
        flex-direction: row;
        margin-left: 10px;

        .logo{
            height: 30px;
            width: 130px;
            cursor: pointer;
        }
        .delivery{
            cursor: pointer;
        }
    }
    .searchBar{
        width: 100%;
        position: relative;
        div{
            input{
                height: 30px;
                width: 100%;
                white-space: nowrap;
                text-indent: 110px;
            }
            button{
                background-color: #febd69;
                border:none;
                position:absolute;
                right: 10px;
                width: 45px;
                height: 34px;
                top:1px;
                border-radius: 0 4px 4px 0;
                z-index: 1;
                img{
                    width: 21px;
                }
            }
            margin-right: 20px;
            
        }
        .selectButton{
            position:absolute;
            border-radius: 4px 0 0 4px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            top:1px;
            width: 100px;
            height: 32px;
            background-color: #f3f3f3;
            font-family: $fontFamilyRegister;
            border: none;
            text-align: center;
        }
    }
    .navRight{
        display: flex;
        flex-direction: row;
        a{
            text-decoration: none;
        }
        
    }
    .column{
        width: max-content;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        font-family: $fontFamilyRegister;
        .top{
            font-size: 12px;
            color: #ccc;
        }
        .bot{
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            max-width: 100px;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .cart{
        width: 50px;
        margin-right: 20px;
        background-image: url("./../../../../assets/all-logo.png");
        background-position: -10px -335px;
        position: relative;
        .number{
            position: absolute;
            color:#f08804;
            right: 20px;
            font-weight: bold;
        }
    }
}

.container2{
    background-color: #232f3e;
    margin: 0;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    nav{
        margin: 0;
        ul{
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            .ligne{
                display: flex;
                flex-direction: row;
            }
            li{
                list-style: none;
                a{
                    color: #fff;
                    font-family: $fontFamilyRegister;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 14px;
                }
                .burger{
                    display: block;
                    height: 14px;
                    width: 14px;
                    background-image: url("./../../../../assets/all-logo.png");
                    background-position: -172px -255px;
                    margin-right: 6px;
                }
                margin-right: 13px;
            }
        }
    }
}
