<div class="container1">
    <div class="navLeft">
        <img routerLink="" class="logo" src="./../../assets/amazon-white-logo.png" alt="">
        <div class="delivery" routerLink="/account/adresses">
            <div class="column">
                <span class="top">Deliver to {{name}}</span>
                <span class="bot">{{address=="" || address==null?"no adresse" : address}}</span>
            </div>
        </div>
    </div>
    <div class="searchBar">
        <div>
            <input (keydown.enter)= "submit($event,input)" #input type="text">
            <button (click) = "submit($event,input)"><img src="./../../assets/search.svg" alt=""></button>
        </div>
            <select class="selectButton" (change)="changeCategory($event)">
                <option value="">All</option>
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
            </select>
    </div>
    <div class="navRight">
        <img class="flag" src="./../../assets/france.png" alt="">
        <a routerLink="/account/" class="column">
            <span class="top">Hello, {{name}}</span>
            <span class="bot">Account & Lists</span>
        </a>
        <a routerLink="/account/orders/" class="column">
            <span class="top">Returns &</span>
            <span class="bot">Orders</span>
        </a>
        
        <a routerLink='/cart' class="cart">
            <div class="number">{{cartNumber}}</div>
        </a>
    </div>
</div>
<div class="container2">
    <nav>
        <ul>
            <li class="ligne"> <span class="burger"></span> <a href="">All</a></li>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink='/login'>Login</a></li>
            <li><a routerLink='/register'>Register</a></li>
            <li><a routerLink='/product-list'>Product list</a></li>
            <li><a routerLink='/account'>Account</a></li>
            <li><a routerLink='/payment'>Payment</a></li>
            <li><a routerLink="" (click) = "logout()">Logout</a></li>
        </ul>
    </nav>
</div>
<div *ngIf = "logoutMessage">
    {{logoutMessage}}
</div>