<div class="container">
    <h1>Your adresses</h1>
    <div class="list">
        <a [routerLink] = "['/account/adresses/create']" class="plus">
            <img src="./../../assets/+.png" alt="">
            <h2>Add an adresse</h2>
        </a>
        <div class="adresse">
            <div class="default">
                default : 
                <img src="./../../assets/amazon-logo-entire.png" alt="">
            </div>
            <ul>
                <li>adress line 1</li>
            </ul>
            <ul>
                <li>adress line 2</li>
            </ul>
            <ul>
                <li>city zipcode</li>
            </ul>
            <ul>
                <li>country</li>
            </ul>
        </div>

    </div>
</div>