<div class="container">
    &nbsp;
    <div class="list">
        <div class="block">
            <h1>Lorem</h1>
            <img class="img" src="./../../assets/colis.jpg" alt="">
        </div>
        <div class="block">
            <h1>Ipsum</h1>
            <img class="img" src="./../../assets/colis.jpg" alt="">
        </div>
        <div class="block">
            <h1>Dolor</h1>
            <img class="img" src="./../../assets/colis.jpg" alt="">
        </div>
        <div class="block">
            <h1>Sit</h1>
            <img class="img" src="./../../assets/colis.jpg" alt="">
        </div>
    </div>

</div>