<div class="container">
    <form class="card" [formGroup]="loginForm" (ngSubmit)="onSubmit()" [ngSwitch]="this.currentStep">
        <h1>
            Sign in
        </h1>
            
        <div *ngIf="this.currentStep === 'passwordInfo'">
            {{this.loginForm.controls.email.value}} 
            <a href="" (click)="changeStep($event,false)">Change</a>
        </div>
        <app-input-card *ngSwitchCase="'emailInfo'">
            <label for="email">Email </label>
            <input (ngModelChange)="onChange()" id="email" type="email" [formControl]="this.loginForm.controls.email" autofocus>
            <div class="error-message" *ngIf="this.loginForm.controls.email.errors?.['required'] && setError">
                email is required.
            </div>
            <div class="error-message" *ngIf="this.loginForm.controls.email.errors?.['email'] && setError">
                use a valid email.
            </div>
        </app-input-card>
        <app-input-card *ngSwitchCase="'passwordInfo'">
            <div class="align">
                <label for="password">Password </label><a href="">forgot your password ?</a>
            </div>
                <input (ngModelChange)="onChange()" id="password" type="password" [formControl]="this.loginForm.controls.password" autofocus>
                <div class="error-message" *ngIf="this.loginForm.controls.password.errors?.['required'] && setError">
                    password is required.
                </div>
        </app-input-card>
        <div class="error-message" *ngIf = "message">
            {{message}}
        </div>
        <button class="button-yellow-auth" *ngIf="this.currentStep === 'emailInfo'" (click)="changeStep($event,true)">Continue</button>
        <div class="infoEmail" *ngIf="this.currentStep === 'emailInfo'">By continuing, you agree to Amazon's  <a href="">Conditions of Use</a> and <a href="">Privacy Notice</a>.</div>
        <a *ngIf="this.currentStep === 'emailInfo'" class="needHelp" href="">Need help?</a>
        <button class="button-yellow-auth" style="margin-bottom:20px" *ngIf="this.currentStep === 'passwordInfo'" type="submit">Sign in</button>
    </form>
    
    <div class="new" *ngIf="this.currentStep === 'emailInfo'" href="">  <h5>New to Amazon?</h5> </div>
    <button routerLink="/register" class="newAccount" *ngIf="this.currentStep === 'emailInfo'" href="">Create your amazon account</button>
</div>