@import "variables";

.container{
    width: 1000px;
    margin: 0 auto;
    min-height: 500px;
    margin-bottom: 50px;
    .list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a{
            text-decoration: none;
            .card{
                width: 284px;
                height: 94px;
                padding: 14px 18px;
                border: 1px #D5D9D9 solid;
                border-radius: 8px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .logo{
                    width: 66px;
                    height: 66px;
                }
                .column{
                    margin-left: 5px;
                    h2{
                        color: #111;
                        margin: 0;
                        font-weight: 600;
                        margin-bottom: 10px;
                        font-size: 20px;
                    }
                    span{
                        color: #565959 ;
                    }
                }
            }
        }
    }
}