<div class="container1">
    <div class="list">
        <div class="element">
            <h2>Get to know</h2>
            <ul>
                <li> <a href="">Careers</a></li>
                <li> <a href="">Blog</a></li>
                <li> <a href="">About more Amazon</a></li>
                <li> <a href="">Little thing </a></li>
                <li> <a href="">Detail and setting</a></li>
                <li> <a href="">crypto and exchange</a></li>
                <li> <a href="">cloud</a></li>
            </ul>
        </div>
        <div class="element">
            <h2>Get to know</h2>
            <ul>
                <li> <a href="">Careers</a></li>
                <li> <a href="">Blog</a></li>
                <li> <a href="">About more Amazon</a></li>
                <li> <a href="">Little thing </a></li>
                <li> <a href="">Detail and setting</a></li>
                <li> <a href="">crypto and exchange</a></li>
                <li> <a href="">cloud</a></li>
            </ul>
        </div>
        <div class="element">
            <h2>Get to know</h2>
            <ul>
                <li> <a href="">Careers</a></li>
                <li> <a href="">Blog</a></li>
                <li> <a href="">About more Amazon</a></li>
                <li> <a href="">Little thing </a></li>
                <li> <a href="">Detail and setting</a></li>
                <li> <a href="">crypto and exchange</a></li>
                <li> <a href="">cloud</a></li>
            </ul>
        </div>
        <div class="element">
            <h2>Get to know</h2>
            <ul>
                <li> <a href="">Careers</a></li>
                <li> <a href="">Blog</a></li>
                <li> <a href="">About more Amazon</a></li>
                <li> <a href="">Little thing </a></li>
                <li> <a href="">Detail and setting</a></li>
                <li> <a href="">crypto and exchange</a></li>
                <li> <a href="">cloud</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container2">
    <div class="list">
        <img src="./../../assets/amazon-logo-entire.png" alt="">
        <div>Clone of Amazon made by <a href="mailto:lionel.arel@outlook.fr">Lionel AREL.<br/></a> Go check my <a href="https://lionelarel.github.io/portfolio/#intro" target="_blank">portfolio </a> and my <a  href="https://www.linkedin.com/in/lionel-arel-8a43881ba/"  target="_blank">linkedin.</a> </div>
    </div>
</div>