<div class="container">
    <h1>Your adresses</h1>
    <div class = "blocks">
        <div class="list">
            <a [routerLink] = "['/account/adresses/create']" class="plus">
                <img src="./../../assets/+.png" alt="">
                <h2>Add an adresse</h2>
            </a>
        </div>
        <div *ngFor="let adresse of adresses" class="list">
            <div class="adresse">
                <div *ngIf="adresse.default" class="default">
                    default : 
                    <img src="./../../assets/amazon-logo-entire.png" alt="">
                </div>
                <div class="details">
                    <ul>
                        <li>{{adresse.address_line_1}}</li>
                    </ul>
                    <ul>
                        <li>{{adresse.address_line_2}}</li>
                    </ul>
                    <ul>
                        <li>{{adresse.city}}, {{adresse.zip_code}}</li>
                    </ul>
                    <ul>
                        <li>{{adresse.country}}</li>
                    </ul>
                    <div class="update">
                        <a (click) = "deleteAdresse(adresse.id)">delete</a>
                        <div class="separator">|</div>
                        <div>update</div>
                    </div>
                    <div *ngIf="errorMessage">{{errorMessage}}</div>
                </div>
            </div>
    
        </div>
    </div>
</div>