@import "variables.scss";


.container{
    margin: 0 auto;
    margin-bottom: 50px;

    .blocks{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }
    .list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 30px;
        .plus{
            border-style: dashed;
            border-color: #C7C7C7;
            width: 320px;
            height: 266px;
            border-width: 2px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $fontColorRegister;
        }
        .adresse{
            width: 320px;
            height: 266;
            border: #C7C7C7 1px solid;
            border-radius: 8px;
            .default{
                border-bottom: solid #C7C7C7 1px;
                padding: 10px 10px;
                img{
                    width: 40px;
                }
            }
            .details{
                padding: 20px;
                ul{
                    padding: 0;
                    li{
                        list-style: none;
                    }
                }
                .update{
                    display: flex;
                    cursor: pointer;
                    .separator{
                        margin: 0 8px;
                    }
                }
            }
        }
    }
}