<div class="container">
    <div *ngFor="let product of products | paginate:config"> 
        <div class="product">
            <a [routerLink]="['/product',product.id]"><img class="photo" src="{{product.image}}" alt=""></a>
            <h3>{{product.name}}</h3>
            <h2>{{product.price/100}} €</h2>
            <div class="row"><img class="prime" src="./../../assets/prime.png" alt="">&nbsp;Livraison Gratuite</div>
            <div class="description">{{product.description}}</div>
            <div class="quantity">
                quantity : 
                <select #selectQuantity>
                    <option name="product.id" value="0">0</option>
                    <option name="product.id" value="1" selected>1</option>
                    <option *ngFor="let number of numberChoice" name="product.id" value="{{number}}">{{number}}</option>
                </select>
                <button class="button" (click)="addToCart(product.id,selectQuantity.value)">add to cart</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf = "messageError">
    {{messageError}}
</div>

<pagination-controls 
[id]="config.id"
[maxSize]="maxSize"
[directionLinks]="directionLinks"
[autoHide]="autoHide"
[responsive]="responsive"
[previousLabel]="labels.previousLabel"
[nextLabel]="labels.nextLabel"
[screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
[screenReaderPageLabel]="labels.screenReaderPageLabel"
[screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
(pageChange)="onPageChange($event)"
(pageBoundsCorrection)="onPageBoundsCorrection($event)">
</pagination-controls>
