<div *ngFor="let product of products | paginate:config"> 
    {{product.name}}
    <br>
    <a [routerLink]="['/product',product.id]"> link </a>
</div>

<div *ngIf = "messageError">
    {{messageError}}
</div>

<pagination-controls 
[id]="config.id"
[maxSize]="maxSize"
[directionLinks]="directionLinks"
[autoHide]="autoHide"
[responsive]="responsive"
[previousLabel]="labels.previousLabel"
[nextLabel]="labels.nextLabel"
[screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
[screenReaderPageLabel]="labels.screenReaderPageLabel"
[screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
(pageChange)="onPageChange($event)"
(pageBoundsCorrection)="onPageBoundsCorrection($event)">
</pagination-controls>
