@import "variables.scss";


.footer{
    margin-top: 30px;
    width: 100vw;
    .background{
        width: 100vw;
        padding-top: 30px;
        background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    }
    div{
        
        display: block;
        margin: 0 auto;
        width: 250px;
        a{
            font-family: $fontFamilyRegister;
            font-size: 11px;
            color:$linkColorRegister;
            text-decoration: none;
            margin: 0 10px;
        }
    }
    span{        
        margin: 0 auto;
        display: block;
        width: fit-content;
        color: #555 ;
        font-family: $fontFamilyRegister;
        margin-top: 15px;
        font-size: 11px;
    }
}