<div class="container">
    <h1>Your Orders</h1>
    <div class="list">
        <div class="card">
            <div class="cardHeader">
                <div class="headerLeft">
                    <div>Ordered the <br/> 4 octobre</div>
                    <div>Ordered the <br/> 4 octobre</div>
                </div>
                <div class="headerRight">
                    <span>command number 5</span>
                </div>
            </div>
            <div class="main">
                <div class="left">
                    <img src="./../../assets/exemple-order.jpg" alt="">
                    <a href="">Title Title Title Title Title Title Title Title Title Title </a>
                </div>
                <button class="button">Open</button>
            </div>
        </div>
    </div>
</div>